<html>
<head>
	<title></title>
</head>
<body>

<link rel="shortcut icon" href="favicon.ico">
<!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
<link href="/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css"/>
<link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
<link href="/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css"/>		
<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
<link href="/css/developer.css" rel="stylesheet">


</body>
</html>

	
		
	