<html>
<head>
	<title></title>
	<style type="text/css">
		.center{
		    padding-top: 10px;
		}
	</style>
</head>
<body>
<!-- Left Sidebar Menu -->
	<style type="text/css">
	</style>
	<div class="fixed-sidebar-left">
		<ul class="nav navbar-nav side-nav nicescroll-bar">
			<li class="navigation-header">
				<span>Menu</span> 
				<i class="zmdi zmdi-more"></i>
			</li>

			<li><hr class="light-grey-hr mb-10"/></li>

			<li>
				<a href="/admin/dashboard/list" data-toggle="collapse" data-target="#dashboard_dr">
				<div class="pull-left center">
				<i class="zmdi zmdi-landscape mr-20"></i>
				<span class="right-nav-text">Dashboard</span></div><div class="pull-right">
				<i class="zmdi "></i>
				</div>
				<div class="clearfix"></div>
				</a>	
			</li>

			
			<li>
				<a href="/admin/user/list" data-toggle="collapse" data-target="#users_dr">
				<div class="pull-left center">
				<i class="zmdi zmdi-accounts mr-20"></i>
				<span class="right-nav-text">Manage User</span></div><div class="pull-right">
				<i class="zmdi "></i>
				</div>
				<div class="clearfix"></div>
				</a>	
			</li>
		</ul>
	</div>
<!-- /Left Sidebar Menu -->
</body>
</html>