<html>
<head>
	<title></title>
</head>
<body>
	<footer class="footer container-fluid pl-30 pr-30">
	<div class="footer-bottom-raw">
	    <div class="container">
	        <div class="footer-bottom-center">
	            <div class="footer-bottom-left">
	                <span>
	                    <a href="javascript:void(0)" class="fa fa-facebook"></a>
	                    <a href="javascript:void(0)" class="fa fa-twitter"></a>
	                    <a href="javascript:void(0)" class="fa fa-linkedin"></a>
	                </span>
	            </div>
	            <span>US Patent No. 9,501,791,B2 / Patents Pending Worldwide</span>
	            <span style="float:right">© 2017 by Winwin - All Rights Reserved.</span>
	        </div>
	    </div>
	</div>
</footer>
</body>
</html>
<!-- Footer -->
	<!-- <footer class="footer container-fluid pl-30 pr-30">
		<div class="row">
			<div class="col-sm-12">
				<p>Privacy Policy | Terms & Conditions | 2017 &copy; IS Tools.</p>
			</div>
		</div>
	</footer> -->
<!-- /Footer -->




<html></html>