<html>
<head>
	<title></title>
</head>
<body>
<!-- Left Sidebar Menu -->
	<style type="text/css">
		.center{
		    padding-top: 11px;
		}
	</style>
	<div class="fixed-sidebar-left">
		<ul class="nav navbar-nav side-nav nicescroll-bar">
			<li class="navigation-header">
				<span>Menu</span> 
				<i class="zmdi zmdi-more"></i>
			</li>
			<li><hr class="light-grey-hr mb-10"/></li>
						<li>
				<a href="/dashboard" data-toggle="collapse" data-target="#dashboard_dr">
				<div class="pull-left center">
				<i class="zmdi zmdi-landscape mr-20"></i>
				<span class="right-nav-text">Dashboard</span></div><div class="pull-right">
				<i class="zmdi "></i>
				</div>
				<div class="clearfix"></div>
				</a>
				
			</li>
			<li>
				<a href="javascript:void(0);" data-toggle="collapse" data-target="#ui_dr">
				<div class="pull-left center">
					<i class="zmdi zmdi-plus mr-20"></i>
					<span class="right-nav-text">Build Your TrustScore</span>
				</div>
				<div class="pull-right">
					<i class="zmdi zmdi-caret-down"></i>
				</div>
				<div class="clearfix"></div></a>
				<ul id="ui_dr" class="collapse collapse-level-1 two-col-list">
					<li>
						<a href="/addName">Name</a>
					</li>
					<li>
						<a href="/addEmail">Email</a>
					</li>
					<li>
						<a href="/addMobile">Moble Phone</a>
					</li>
					<li>
						<a href="/addAddress">Address</a>
					</li>
					<li>
						<a href="/addUniqueid">Photo ID / SSN / License</a>
					</li>
					<li>
						<a href="/addEducation">Education</a>
					</li>
					<li>
						<a href="javascript:void(0)">Personal Narrrative</a>
					</li>
					<li>
						<a href="#">Social Infulence</a>
					</li>
					<li>
						<a href="#">Payment Verification</a>
					</li>
					<li>
						<a href="/ratings">Ratings</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript:void(0);" data-toggle="collapse" data-target="#form_dr">
				<div class="pull-left center">
				<i class="zmdi zmdi-balance-wallet mr-20"></i>
				<span class="right-nav-text">Make Payments</span></div><div class="pull-right">
				<i class="zmdi "></i>
				</div>
				<div class="clearfix"></div>
				</a>
				<!-- <ul id="form_dr" class="collapse collapse-level-1 two-col-list">
					<li>
						<a href="form-element.html">Basic Forms</a>
					</li>
					<li>
						<a href="form-layout.html">form Layout</a>
					</li>
					<li>
						<a href="form-advanced.html">Form Advanced</a>
					</li>
					<li>
						<a href="form-mask.html">Form Mask</a>
					</li>
					<li>
						<a href="form-picker.html">Form Picker</a>
					</li>
					<li>
						<a href="form-validation.html">form Validation</a>
					</li>
					<li>
						<a href="form-wizard.html">Form Wizard</a>
					</li>
					<li>
						<a href="form-x-editable.html">X-Editable</a>
					</li>
					<li>
						<a href="cropperjs.html">Cropperjs</a>
					</li>
					<li>
						<a href="form-file-upload.html">File Upload</a>
					</li>
					<li>
						<a href="dropzone.html">Dropzone</a>
					</li>
					<li>
						<a href="bootstrap-wysihtml5.html">Bootstrap Wysihtml5</a>
					</li>
					<li>
						<a href="tinymce-wysihtml5.html">Tinymce Wysihtml5</a>
					</li>
					<li>
						<a href="summernote-wysihtml5.html">summernote</a>
					</li>
					<li>
						<a href="typeahead-js.html">typeahead</a>
					</li>
				</ul> -->
			</li>
			<li>
				<a href="javascript:void(0);" data-toggle="collapse" data-target="#chart_dr">
					<div class="pull-left center">
						<i class="zmdi zmdi-chart-donut mr-20"></i>
						<span class="right-nav-text">Receive Payments </span>
					</div>
					<div class="pull-right">
						<i class="zmdi"></i>
					</div>
					<div class="clearfix"></div>
				</a>
				<!-- <ul id="chart_dr" class="collapse collapse-level-1 two-col-list">
					<li>
						<a href="flot-chart.html">Flot Chart</a>
					</li>
					<li>
						<a href="morris-chart.html">Morris Chart</a>
					</li>
					<li>
						<a href="chart.js.html">chartjs</a>
					</li>
					<li>
						<a href="chartist.html">chartist</a>
					</li>
					<li>
						<a href="easy-pie-chart.html">Easy Pie Chart</a>
					</li>
					<li>
						<a href="sparkline.html">Sparkline</a>
					</li>
					<li>
						<a href="peity-chart.html">Peity Chart</a>
					</li>
				</ul> -->
			</li>
		</ul>
	</div>
<!-- /Left Sidebar Menu -->
</body>
</html>