<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>::: DEMO :::</title>
		<meta name="description" content="Doodle is a Dashboard & Admin Site Responsive Template by hencework." />
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Doodle Admin, Doodleadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="hencework"/>
		<%- include shared/common_css.ejs %>
		<script src="/js/jquery.min.js"></script>
		<%- include shared/common_js.ejs %>
		<style>
			.errvalidationtext{color:red;font-weight:50;}
		</style>
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper pa-0">
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="sp-logo-wrap text-center pa-0 mb-30">
											<a href="/">
												<!-- <img class="brand-img mr-10" src="dist/img/logo.png" alt="brand"/> -->
												<span class="brand-text">DEMO</span>
											</a>
										</div>
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Need help with your password?</h3>
											<h6 class="text-center txt-grey nonecase-font">Enter the email , and we’ll help you create a new password.</h6>
										</div>	
										<div class="form-wrap">
											<form method="post" action="/forgotpassword" id="frmForgotPassword">
												<div class="form-group">
													<label class="control-label mb-10" for="exampleInputEmail_2">Email address</label>
													<input type="email" class="form-control" required="" id="email" placeholder="Enter email" 
													name="email">
													<p class="help-block errAreaEmail"><!-- <img src="img/arrow.png" class="validationimg"> --><sub><span class="errvalidationtext" id="lblEmail"></span></sub>
				  									</p>
												</div>
												
												<div class="form-group text-center">
													<button type="button" class="btn btn-info btn-rounded" onclick="checkValidation()" id="btnForgotPassword">Reset</button>
												</div>
											</form>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
		</div>
		<!-- /#wrapper -->
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#msg_display_area').hide(5000);
			});
			function checkValidation() {
				var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
				var email_status=0;
				if($('#email').val()==''){
					$('.errvalidationtext').html("Please enter email id.");
					email_status=0;
				}
				else{
					if(!email_regex.test($('#email').val()))
					{
						$('.errvalidationtext').html("Please enter email id in proper format.");
						email_status=0;
					}
					else
					{
						email_status=1;
					}
				}

				if(email_status==0){
					return false;
				}
				else{
					$('#frmForgotPassword').submit();
				}
				
	        }
		</script>
	</body>
</html>
