<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>::: DEMO :::</title>
		<meta name="description" content="Doodle is a Dashboard & Admin Site Responsive Template by hencework." />
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Doodle Admin, Doodleadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="hencework"/>
		
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<link href="/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css"/>
		<link href="/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
		<link href="/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css"/>		
		<link href="/dist/css/style.css" rel="stylesheet" type="text/css">
		<script src="/js/jquery.min.js"></script>
		<%- include shared/common_js.ejs %>
		<style>
			.errvalidationtext{color:red;}
		</style>
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		<div class="wrapper pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left">
					<a href="/">
						<!-- <img class="brand-img mr-10" src="dist/img/logo.png" alt="brand"/> -->
						<!-- <span class="brand-text">IS Tools</span> -->
					</a>
				</div>
				<div class="form-group mb-0 pull-right">
					<!-- <span class="inline-block pr-10">Don't have an account?</span>
					<a class="inline-block btn btn-info btn-rounded btn-outline" href="#">Sign Up</a> -->

				</div>
				<div class="clearfix"></div>
			</header>
			
			<!-- Main Content -->
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="sp-logo-wrap text-center pa-0 mb-30">
											<a href="/">
												<!-- <img class="brand-img mr-10" src="/dist/img/logo.png" alt="brand"/> -->
												<span class="brand-text">DEMO</span>
											</a>
										</div>
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Reset Password</h3>
										</div>	
										<div class="form-wrap">
											<form method="post" action="/reset_password" id="frmResetPassword">
											<input type="hidden" name="code" id="code" value="<%= code %>">
												<div class="form-group">
													<label class="pull-left control-label mb-10" for="exampleInputpwd_2">New Password</label>
													<input type="password" class="form-control" required="" id="password" placeholder="Enter New pwd" name="password">
													<span class="fa fa-unlock-alt form-control-feedback">						
													</span>
											  <p class="help-block errAreaCnfPassword">
											  	<span class="errvalidationtext" id="lblPassword"></span></sub>
											  </p>
												</div>
												<div class="form-group">
													<label class="pull-left control-label mb-10" for="exampleInputpwd_3">Confirm Password</label>
													<input type="password" class="form-control" required="" id="cnfPassword" placeholder="Re-Enter pwd" name="cnfPassword">
													<span class="fa fa-unlock-alt form-control-feedback">
														
													</span>
											  <p class="help-block errAreaCnfPassword">
											  	<span class="errvalidationtext" id="lblCnfPassword"></span></sub>
											  </p>
												</div>
												<div class="form-group text-center">
													<button type="button" class="btn btn-info btn-rounded" onclick="checkValidation()" id="btnForgotPassword">Reset Password</button>
												</div>
											</form>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('#msg_display_area').hide(5000);
			});

			function checkValidation() {
				// var passwordRes = check_password_validation($('#password').val());
				// var cnfPasswordRes = check_confirm_password_validation($('#password').val(),$('#cnfPassword').val());
				var password_status=cpassword_status=0;
				var password=$('#password').val();
				var cpassword=$('#cnfPassword').val();
				if(password==''){
					$('#lblPassword').html("Please enter password.");
					password_status=0;
				}
				else{
					$('#lblPassword').html("");
					password_status=1;	
				}
				if(cpassword==''){
					$('#lblCnfPassword').html("Please enter confirm password.");
					cpassword_status=0;
					return false;
				}
				else{
					$('#lblCnfPassword').html("");
					if(password != cpassword){
						$('#lblCnfPassword').html("Password and Confirm password should be same.");
						cpassword_status=0;	
					}
					else{
						$('#lblCnfPassword').html("");
						cpassword_status=1;		
					}
				}
				if(password_status==1 && cpassword_status==1){
					$('#frmResetPassword').submit();
				}
				else
				{
					return false;
				}
	        }
		
		</script>
		<!-- JavaScript -->
    <!-- jQuery -->
    <script src="/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	
	<!-- Slimscroll JavaScript -->
	<script src="dist/js/jquery.slimscroll.js"></script>
	
	<!-- simpleWeather JavaScript -->
	<script src="/vendors/bower_components/moment/min/moment.min.js"></script>
	<script src="/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
	<script src="/dist/js/simpleweather-data.js"></script>
	
	<!-- Progressbar Animation JavaScript -->
	<script src="/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Sparkline JavaScript -->
	<script src="/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- ChartJS JavaScript -->
	<script src="/vendors/chart.js/Chart.min.js"></script>
	
	<!-- Morris Charts JavaScript -->
    <script src="/vendors/bower_components/raphael/raphael.min.js"></script>
    <script src="/vendors/bower_components/morris.js/morris.min.js"></script>
    
	
	<!-- Switchery JavaScript -->
	<script src="/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/dist/js/init.js"></script>
	<script src="/dist/js/dashboard-data.js"></script>

	</body>
</html>
